In [1]:
import pandas as pd

In [40]:
import pandas as pd

data = pd.read_csv('data1_tes.csv')

In [41]:
import re

# fungsi untuk konversi duration_string menjadi hours
def convert_duration_hours(duration_str):
    
    # filter nilai NaN
    if pd.isna(duration_str):
        return 0
    
    # penyamaan format
    duration_str = str(duration_str).lower()
    
    total_hours = 0
    
    # konversi nilai mengandung days
    days_match = re.search(r'(\d+)\s*day', duration_str)
    if days_match:
        total_hours += int(days_match.group(1)) * 24
    
    # konversi nilai hanya mengandung hours 
    hours_match = re.search(r'(\d+)\s*hour', duration_str)
    if hours_match:
        total_hours += int(hours_match.group(1))
    
    return total_hours

In [42]:
#aplikasikan fungsi ke data
data['Stay_Duration_Hours'] = data['Duration_String'].apply(convert_duration_hours)

In [43]:
data.head()

,Log_ID,Guest_ID,Check_In_Date,Duration_String,Location_ID,Guest_Type,Stay_Duration_Hours
0,1001,G1234,2024-03-15,"2 days, 10 hours",LOC01,New_User,58
1,1002,G5678,2023-12-28,"1 day, 5 hours",LOC03,returning,29
2,1003,G9012,2024-06-01,"4 days, 0 hours",LOC01,Returning Guest,96
3,1004,G3456,2024-01-05,10 hours,LOC02,new,10
4,1005,G7890,2024-07-20,"5 days, 15 hours",LOC04,Returning,135

In [44]:
# identifikasi variasi guest_type
variasi = data['Guest_Type'].unique()

# pengelompokkan kategori guest_type
var_new = []
var_returning = []

for i in variasi:
    guest_type = str(i).lower()
    
    # Cek kategori New
    if any(keyword in guest_type for keyword in ['new', 'baru', 'first']):
        var_new.append(i)
    # Cek kategori Returning  
    elif any(keyword in guest_type for keyword in ['returning', 'repeat', 'kembali']):
        var_returning.append(i)

# mapping dictionary dari hasil pengelompokkan
mapping_dict = {}

# mapping variasi new
for variant in var_new:
    mapping_dict[variant] = 'New'

# mapping variasi returning  
for variant in var_returning:
    mapping_dict[variant] = 'Returning'


# aplikasikan ke dataframe
data['Guest_Type'] = data['Guest_Type'].map(mapping_dict)

In [55]:
# ubah tipe data check_in_date menjadi datetime
data['Check_In_Date'] = pd.to_datetime(data['Check_In_Date'], errors='coerce')

# tentukan batas data terfilter
limit_date = pd.to_datetime('2024-01-01')

# filter data
data = data[data['Check_In_Date'] >= start_date]

C:\Users\Yudisthira\AppData\Local\Temp\ipykernel_14964\3830832488.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Check_In_Date'] = pd.to_datetime(data['Check_In_Date'], errors='coerce')

In [56]:
data

,Log_ID,Guest_ID,Check_In_Date,Duration_String,Location_ID,Guest_Type,Stay_Duration_Hours
0,1001,G1234,2024-03-15,"2 days, 10 hours",LOC01,New,58
2,1003,G9012,2024-06-01,"4 days, 0 hours",LOC01,Returning,96
3,1004,G3456,2024-01-05,10 hours,LOC02,New,10
4,1005,G7890,2024-07-20,"5 days, 15 hours",LOC04,Returning,135
5,1006,G1122,2024-02-14,"1 day, 2 hours",LOC05,Returning,26
6,1007,G3344,2024-08-01,18 hours,LOC01,New,18
7,1008,G5566,2024-04-22,"3 days, 6 hours",LOC02,New,78
9,1010,G9900,2024-05-19,"2 days, 20 hours",LOC04,New,68
10,1011,G0011,2024-01-01,"1 day, 0 hours",LOC05,Returning,24
11,1012,G2233,2024-07-25,9 hours,LOC01,Returning,9
12,1013,G4455,2024-03-08,"3 days, 12 hours",LOC02,New,84
14,1015,G8899,2024-06-15,14 hours,LOC04,Returning,14
15,1016,G1212,2024-02-29,"4 days, 4 hours",LOC05,New,100
16,1017,G3434,2024-08-20,"1 day, 16 hours",LOC01,Returning,40
17,1018,G5656,2024-04-01,"5 days, 0 hours",LOC02,New,120
19,1020,G9090,2024-05-05,"2 days, 18 hours",LOC04,Returning,66
20,1021,G1357,2024-01-10,"1 day, 4 hours",LOC05,Returning,28
21,1022,G2468,2024-07-04,11 hours,LOC01,New,11
22,1023,G3579,2024-03-20,"3 days, 8 hours",LOC02,New,80
24,1025,G5791,2024-06-30,"1 day, 13 hours",LOC04,Returning,37
25,1026,G6802,2024-02-01,"4 days, 16 hours",LOC05,New,112
26,1027,G7913,2024-08-15,6 hours,LOC01,Returning,6
27,1028,G8024,2024-04-10,"2 days, 22 hours",LOC02,New,70
29,1030,G0246,2024-05-25,"3 days, 10 hours",LOC04,New,82
30,1031,G1468,2024-01-22,12 hours,LOC05,New,12
31,1032,G2579,2024-07-11,"5 days, 1 hour",LOC01,Returning,121
32,1033,G3680,2024-03-01,"1 day, 7 hours",LOC02,Returning,31
33,1034,G4791,2024-05-15,16 hours,LOC03,New,16
34,1035,G5802,2024-06-08,"2 days, 19 hours",LOC04,New,67
35,1036,G6913,2024-02-08,"3 days, 0 hours",LOC05,Returning,72
36,1037,G7024,2024-08-25,"1 day, 19 hours",LOC01,Returning,43
37,1038,G8135,2024-04-18,"4 days, 5 hours",LOC02,New,101
39,1040,G0357,2024-05-01,"2 days, 3 hours",LOC04,Returning,51
40,1041,G1479,2024-01-29,"1 day, 23 hours",LOC05,New,47
41,1042,G2591,2024-07-28,17 hours,LOC01,Returning,17
42,1043,G3602,2024-03-25,"3 days, 14 hours",LOC02,New,86
44,1045,G5824,2024-06-20,"1 day, 9 hours",LOC04,Returning,33
45,1046,G6935,2024-02-18,5 hours,LOC05,New,5
47,1048,G8157,2024-04-29,"2 days, 7 hours",LOC02,Returning,55
49,1050,G0379,2024-05-10,"3 days, 5 hours",LOC04,Returning,77